.cardButtons {
    margin: 0 .5rem .4rem .6rem;
    display: flex;
    justify-content: space-between;
}

.star {
    margin-top: .37rem;
    margin-right: .3rem;
}

.description {
    margin-bottom: 2rem;
}

.cardPost {
    padding: 0 .5rem;
}

#searchBar {
    width: 35%;
    border: .15rem solid black;
}

.editAndDelete {
    display: flex;
}

.commentIcon {
    margin-right: .3rem;
}